.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  flex-direction: column;
}

li {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 0.4em 1.1em;
  margin: 0 0.5em 0.5em 1em;
  background-color: #141414;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  cursor: pointer;
}
