.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
}

.list {
  width: 47%;
  flex-direction: column;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 0.4em 1.1em;
  margin: 0 0.5em 0.5em 1em;
  background-color: #fff;
  color: #141414;
  border: 2px solid #141414;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button.removeAll {
  background-color: #141414;
  color: #fff;
}
